.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #b5c18e;
  gap: 0.5rem;
}
.nav > * {
  height: 50%;
  padding: 1rem;
  background-color: #eadbc8;
  border: 2px solid #eadbc8;
  border-radius: 5px;
}
.nav > *:hover {
  border: 2px solid #c7b7a3;
  transition: 0.3s;
}
